html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#characterLineUp {
    float: right;
    width: 282px;
    height: 402px;
}
.characterProfiles {
    float: right;
    width: 80px;
    height: 120px;
    margin: 5px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
}
.characterProfiles:hover {
    margin: 2px;
    border: 5px solid black;
}

#startGame{
    display: none;
}

#map-canvas {
    height: 100%;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#chooseCharacterDialog {
    display: none;
}
#nextQuestion {
    display: none;
}
#nextLevel {
    display: none;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}